@model Economic_Game.Models.RoundViewModel
@{
    ViewBag.Title = "Investment Game";
}

@if(ViewBag.Error == null)
    { 
    <script type="text/javascript" src="~/Scripts/game.js"></script>
}


@using (Html.BeginForm())
{
    @Html.HiddenFor(Model => Model.GameID)
    @Html.HiddenFor(Model => Model.ReturnPercentage)
    @Html.HiddenFor(Model => Model.CurrentRound)
    <table>
        <tr>
            <td style="width:80%;">
                <table class="table table-bordered game-table">
                    <tr>
                        <th colspan="3">
                            
                                @if (Model.CurrentRound < 5)
                                {
                                    <h1>
                                        ROUND <span style="font-weight: bold;">@Model.CurrentRound</span>
                                    </h1>
                                }
                                else
                                {
                                    <h1>
                                        ROUND <span style="font-weight: bold;">4</span>
                                    </h1>
                                }
                                    
                            @*<div>
                                <button type="button" class="btn btn-default btn-sm toggleFAQ"><span class="glyphicon glyphicon-question-sign" onclick="toggleFAQ()"></span>&nbsp;&nbsp;View/Hide FAQ</button>
                            </div>*@
                        </th>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center;">
                            @if(Model.RoundReturned != null)
                            {
                                <span style="font-size: larger; color: green;">Seller has decided to return @Model.RoundReturned.Value.ToString("C")</span>
                            }
                            <label id="gameStatusMessage">@Model.GameMessage</label>
                            <label id="sellerDecidingMessage">Seller is Deciding...</label>
                        </td>
                    </tr>
                    <tr>
                        <th width="33%">
                            <h4 class="form-inline text-center">
                                <strong>MONEY TO INVEST: </strong>&nbsp;
                                <span style="font-size: xx-large; font-weight: bold;">@Html.DisplayFor(Model => Model.StartingAmount)</span>@*@Model.PlayerTotal.ToString()*@
                                @Html.HiddenFor(Model => Model.StartingAmount)
                            </h4>
                        </th>
                        <th width="33%">
                            <h4 class="form-inline text-center">
                                <strong>CURRENT EARNINGS: &nbsp;</strong>
                                <span style="font-size: xx-large; font-weight: bold;">
                                    @if (Model.PlayerTotal != null)
                                    {
                                    @Model.PlayerTotal.Value.ToString("C")
                                    }
                                </span>
                                @Html.HiddenFor(Model => Model.CurrentEarnings)
                            </h4>
                        </th>
                        <th>
                            <h4 class="form-inline text-center">
                                <strong>ROUND MULTIPLIER: </strong> X
                                <span style="font-size: xx-large; font-weight: bold;">
                                    @Html.DisplayFor(Model => Model.Multiplier)
                                </span>
                                @Html.HiddenFor(Model => Model.Multiplier)
                            </h4>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p class="lead" style="width: 90%; margin: 0 auto;">
                                You are the buyer.<br /><br />
                                You have @Model.StartingAmount.Value.ToString("C") to invest.&nbsp;&nbsp;
                                You can choose to either keep the @Model.StartingAmount.Value.ToString("C") or invest part of it, or all of it with the seller.&nbsp;&nbsp;
                                Whatever amount of money you choose to invest (up to @Model.StartingAmount.Value.ToString("C")) will be multiplied by <strong>@Model.MultiplierText</strong> and given to the seller.&nbsp;&nbsp;
                                The seller can then choose to share part, none, or all of the profit back with you.
                                @*keep any amount up to&nbsp;
                                @{
                                    decimal potential = (decimal)Model.StartingAmount * (decimal)Model.Multiplier;
                                }
                                @potential.ToString("C") or share part or all of the profit back with you.<br /><br />*@
                            </p><br />
                            <p class="lead" style="width: 90%; margin: 0 auto;">
                                Please enter how much you would like to invest and how much you would like to keep.&nbsp;&nbsp;
                                <strong>Remember the total cannot exceed @Model.StartingAmount.Value.ToString("C")</strong>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="height: 100px;">
                            <table class="table" style="height: 100%; width:90%; margin: 0 auto;">
                                <tr>

                                    <td style="width: 30%; border-top: none;">
                                        <h4 style="float: right;"><strong>SELLER MESSAGE:</strong></h4><br />
                                        @if (ViewBag.EndGame == null)
                                        {
                                        <div style="float: right;" id="sellerTyping">Seller is typing...</div>
                                        }
                                    </td>
                                    <td style="width: 70%; border-top: none;">
                                        @if (ViewBag.EndGame == null)
                                        {
                                        <div style="text-align: left;">
                                                <div id="sellerMessage1">@Model.Message1<br /></div>
                                                <div id="sellerMessage2">@Model.Message2<br /></div>
                                                <div id="sellerMessage3">@Model.Message3<br /></div>
                                                <div id="sellerMessage4">@Model.Message4<br /></div>
                                        </div>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table class="table" style="width: 90%; margin: 0 auto; border: none;">
                                <tr>
                                    <td style="border-top: none;">
                                        <h5><strong>ENTER HOW MUCH YOU WOULD LIKE TO INVEST: </strong></h5>&nbsp;&nbsp;
                                    </td>
                                    <td style="border-top: none; width: 20%;">
                                        <div class="form-inline">
                                            <span style="font-size: x-large; font-weight: bold;">$</span>
                                            @if ((Decimal)Model.StartingAmount >= (Decimal)1.00)
                                            {
                                                @Html.TextBoxFor(Model => Model.RoundInvestmentDollars, new { @class = "form-control smallest", @maxlength = "1" })
                                            }
                                            else
                                            {
                                                @Html.TextBox("RoundInvestmentDollars", "0", new { @class = "form-control smallest", @maxlength = "1", @disabled="disabled" })
                                            }
                                            <span style="font-size: x-large; font-weight: bold;">.</span>@Html.TextBoxFor(Model => Model.RoundInvestmentCents, new { @class = "form-control smaller", @maxlength = "2" })
                                        </div>
                                    </td>

                                    <td style="border-top: none;">
                                        <h5><strong>ENTER HOW MUCH YOU WOULD LIKE TO KEEP: </strong></h5>&nbsp;&nbsp;
                                    </td>
                                    <td style="border-top: none; width: 20%;">
                                        <div class="form-inline">
                                            <span style="font-size: x-large; font-weight: bold;">$</span>
                                            @if ((Decimal)Model.StartingAmount >= (Decimal)1.00)
                                            {
                                                @Html.TextBoxFor(Model => Model.RoundKeptDollars, new { @class = "form-control smallest", @maxlength = "1" })
                                            }
                                            else
                                            {
                                                @Html.TextBox("RoundKeptDollars", "0", new { @class = "form-control smallest", @maxlength = "1", @disabled = "disabled" })
                                            }
                                            <span style="font-size: x-large; font-weight: bold;">.</span>@Html.TextBoxFor(Model => Model.RoundKeptCents, new { @class = "form-control smaller", @maxlength = "2" })
                                        </div>
                                    </td>
                                </tr>
                                @if (ViewBag.Error != null)
                                {
                                    <tr>
                                        <td colspan="4" style="text-align: center;">
                                            <label class="text-danger">@ViewBag.Error</label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                    @if (ViewBag.EndGame == null)
                    {
                        <tr>
                            <td colspan="3">
                                <p class="text-center">
                                    <button type="submit" id="submitButton" class="btn btn-default">Submit&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
                                </p>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">
                                <p class="text-center">
                                    <a href="/Home/Summary?id=@Model.GameID" class="btn btn-default btn-success"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;&nbsp;View Game Summary</a>
                                </p>
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td class="FAQ" style="vertical-align: top;">
                <table class="table faq-table">
                    <tr>
                        <th>
                            <h3>Frequently Asked Questions</h3>
                        </th>
                    </tr>
                    @if (ViewData["Questions"] != null)
                    {
                    foreach (Economic_Game.Models.Question question in (List<Economic_Game.Models.Question>)ViewData["Questions"])
                    {
                        <tr>
                            <th>
                                <strong>Q: @question.QuestionText</strong>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <strong>A: </strong>@question.AnswerText
                            </td>
                        </tr>
                    }
                    }
                </table>
            </td>
        </tr>
    </table>
    

    
                        }