@model Economic_Game.Models.RoundViewModel
@{
    ViewBag.Title = "Round 1";
}

@*<h2>Round1</h2>

<h3>Starting Amount: @Model.StartingAmount.ToString()</h3>*@
@using (Html.BeginForm())
{
@Html.HiddenFor(Model => Model.GameID)
@Html.HiddenFor(Model => Model.ReturnPercentage)

    <table class="table table-bordered game-table">
        <tr>
            <th colspan="3">
                <h1>
                    ROUND @Model.CurrentRound
                </h1>
                @if (Model.RoundType == "Practice Round")
                {
                    <h4 style="color: red;">
                        @Model.RoundType.ToUpper()
                    </h4>
                }
                else
                {
                    <h4>
                        @Model.RoundType
                    </h4>
                }
            </th>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center;">
                <label class="text-danger">@ViewBag.GameMessage</label>
            </td>
        </tr>
        <tr>
            <th width="33%">
                <h4 class="form-inline text-center">
                    <strong>MONEY TO INVEST: </strong>&nbsp;
                    <span style="font-size: xx-large; font-weight: bold;">@Html.DisplayFor(Model => Model.StartingAmount)</span>@*@Model.PlayerTotal.ToString()*@
                    @Html.HiddenFor(Model => Model.StartingAmount)
                </h4>
            </th>
            <th width="33%">
                <h4 class="form-inline text-center">
                    <strong>CURRENT EARNINGS: </strong>
                    <span style="font-size: xx-large; font-weight: bold;">
                        @Html.DisplayFor(Model => Model.CurrentEarnings)
                    </span>
                    @Html.HiddenFor(Model => Model.CurrentEarnings)
                </h4>
            </th>
            <th>
                <h4 class="form-inline text-center">
                    <strong>ROUND MULTIPLIER: </strong> X
                    <span style="font-size: xx-large; font-weight: bold;">
                        @Html.DisplayFor(Model => Model.Multiplier)
                    </span>
                    @Html.HiddenFor(Model => Model.Multiplier)
                </h4>
            </th>
        </tr>
        <tr>
            <td colspan="3">
                <p class="lead">
                    You are the buyer.<br /><br />
                    You have $@Model.StartingAmount to invest.
                    You can choose to either keep the $@Model.StartingAmount or invest part or none of it.
                    Whatever amount of money you choose to invest (up to $@Model.StartingAmount) will be multiplied by @Model.MultiplierText.
                    The seller can choose to keep any amount up to
                    @{
                        decimal potential = (decimal)Model.StartingAmount * (decimal)Model.Multiplier;
                    }
                    $@potential or share part or all of the profit with you.<br /><br />
                    Please write down how much you would like to invest and how much you would like to keep.

                </p>
            </td>
        </tr>
        <tr>
            <td>
                <h4 style="float: right;"><strong>SELLER MESSAGE:</strong></h4>
            </td>
            <td colspan="2">
                <div style="text-align: left;">

                    <div id="sellerTyping">Seller is typing...</div>
                    <div id="sellerMessage1">@Model.ComputerPersuasion</div>
                    <div id="sellerMessage2">Either way...</div>
                    <div id="sellerWaitingMessage">Hello?</div>


                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table class="table" style="width: 80%; margin: 0 auto; border: none;">
                    <tr>
                        <td style="border-top: none;">
                            <h5><strong>ENTER HOW MUCH YOU WOULD LIKE TO INVEST: </strong></h5>&nbsp;&nbsp;
                        </td>
                        <td style="border-top: none;">
                            @Html.TextBoxFor(Model => Model.RoundInvestment, new { @class = "form-control small" })
                        </td>

                        <td style="border-top: none;">
                            <h5><strong>ENTER HOW MUCH YOU WOULD LIKE TO KEEP: </strong></h5>&nbsp;&nbsp;
                        </td>
                        <td style="border-top: none;">
                            @Html.TextBoxFor(Model => Model.RoundKept, new { @class = "form-control small" })
                        </td>
                    </tr>
                    @if (ViewBag.Error != null)
                {
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                <label class="text-danger">@ViewBag.Error</label>
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <p class="text-center">
                    <button type="submit" class="btn btn-default btn-success">Submit&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
                </p>
            </td>
        </tr>
    </table><table class="table table-bordered game-table">
    <tr>
        <th colspan="3">
            <h1>
                ROUND @Model.CurrentRound
            </h1>
            @if (Model.RoundType == "Practice Round")
            {
                <h4 style="color: red;">
                    @Model.RoundType.ToUpper()
                </h4>
            }
            else
            {
                <h4>
                    @Model.RoundType
                </h4>
            }
        </th>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center;">
            <label class="text-danger">@ViewBag.GameMessage</label>
        </td>
    </tr>
    <tr>
        <th width="33%">
            <h4 class="form-inline text-center">
                <strong>MONEY TO INVEST: </strong>&nbsp;
                <span style="font-size: xx-large; font-weight: bold;">@Html.DisplayFor(Model => Model.StartingAmount)</span>@*@Model.PlayerTotal.ToString()*@
                @Html.HiddenFor(Model => Model.StartingAmount)
            </h4>
        </th>
        <th width="33%">
            <h4 class="form-inline text-center">
                <strong>CURRENT EARNINGS: </strong>
                <span style="font-size: xx-large; font-weight: bold;">
                    @Html.DisplayFor(Model => Model.CurrentEarnings)
                </span>
                @Html.HiddenFor(Model => Model.CurrentEarnings)
            </h4>
        </th>
        <th>
            <h4 class="form-inline text-center">
                <strong>ROUND MULTIPLIER: </strong> X
                <span style="font-size: xx-large; font-weight: bold;">
                    @Html.DisplayFor(Model => Model.Multiplier)
                </span>
                @Html.HiddenFor(Model => Model.Multiplier)
            </h4>
        </th>
    </tr>
    <tr>
        <td colspan="3">
            <p class="lead">
                You are the buyer.<br /><br />
                You have $@Model.StartingAmount to invest.
                You can choose to either keep the $@Model.StartingAmount or invest part or none of it.
                Whatever amount of money you choose to invest (up to $@Model.StartingAmount) will be multiplied by @Model.MultiplierText.
                The seller can choose to keep any amount up to
                @*@{
                    decimal potential = (decimal)Model.StartingAmount * (decimal)Model.Multiplier;
                }*@
                $@potential.ToString() or share part or all of the profit with you.<br /><br />
                Please write down how much you would like to invest and how much you would like to keep.

            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h4 style="float: right;"><strong>SELLER MESSAGE:</strong></h4>
        </td>
        <td colspan="2">
            <div style="text-align: left;">

                <div id="sellerTyping">Seller is typing...</div>
                <div id="sellerMessage1">@Model.ComputerPersuasion</div>
                <div id="sellerMessage2">Either way...</div>
                <div id="sellerWaitingMessage">Hello?</div>


            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <table class="table" style="width: 80%; margin: 0 auto; border: none;">
                <tr>
                    <td style="border-top: none;">
                        <h5><strong>ENTER HOW MUCH YOU WOULD LIKE TO INVEST: </strong></h5>&nbsp;&nbsp;
                    </td>
                    <td style="border-top: none;">
                        @Html.TextBoxFor(Model => Model.RoundInvestment, new { @class = "form-control small" })
                    </td>

                    <td style="border-top: none;">
                        <h5><strong>ENTER HOW MUCH YOU WOULD LIKE TO KEEP: </strong></h5>&nbsp;&nbsp;
                    </td>
                    <td style="border-top: none;">
                        @Html.TextBoxFor(Model => Model.RoundKept, new { @class = "form-control small" })
                    </td>
                </tr>
                @if (ViewBag.Error != null)
                {
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <label class="text-danger">@ViewBag.Error</label>
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <p class="text-center">
                <button type="submit" class="btn btn-default btn-success">Submit&nbsp;&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
            </p>
        </td>
    </tr>
</table>
                    }