@model Economic_Game.Models.Game
@{
}

@*<h2>Round1</h2>

    <h3>Starting Amount: @Model.StartingAmount.ToString()</h3>*@

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>

@if (ViewBag.GameMessage != null)
{
    <script>

$(document).ready(function(){

alert('@ViewBag.GameMessage');

});

    </script>
}

<script>
$(document).ready(function () {
    setTimeout(function () {
        $('#sellerTyping').fadeIn(500);
    }, 5000);

    setTimeout(function () {
        $('#sellerTyping').hide(300);
    }, 8000);

    setTimeout(function () {
        $('#sellerMessage1').fadeIn(500);
    }, 9000);

    setTimeout(function () {
        $('#sellerTyping').fadeIn(500);
    }, 11000);

    setTimeout(function () {
        $('#sellerTyping').hide(300);
    }, 13000);

    setTimeout(function () {
        $('#sellerMessage2').fadeIn(500);
    }, 14000);

    setTimeout(function () {
        $('#sellerTyping').fadeIn(500);
    }, 23000);

    setTimeout(function () {
        $('#sellerTyping').hide(300);
    }, 24000);

    setTimeout(function () {
        $('#sellerWaitingMessage').fadeIn(500);
    }, 25000);

});
</script>


@using (Html.BeginForm())
{
    @Html.HiddenFor(Model => Model.GameID)
    <table class="table table-bordered summary-table">
        <tr>
            <th colspan="5">
                <h1>
                    GAME SUMMARY
                </h1>
            </th>
        </tr>
        <tr>
            <td colspan="5" style="text-align: center;">

            </td>
        </tr>
        <tr>
            <th style="width: 10%">Round</th>
            <th style="width: 10%">Multiplier</th>
            <th style="width: 20%">Kept</th>
            <th style="width: 20%">Invested</th>
            <th style="width: 20%">Returned</th>
            @*<td>Round Subtotal</td>*@
        </tr>
        <tr>
            <td><span style="color: red;">PRACTICE</span>&nbsp;&nbsp; 1</td>
            <td style="background-color: lightpink;">@Model.Round1Multiplier</td>
            <td style="background-color: lightpink;">@Model.Round1Kept.Value.ToString("C")</td>
            <td style="background-color: lightpink;">@Model.Round1Investment.Value.ToString("C")</td>
            <td style="background-color: lightpink;">@Model.Round1Returned.Value.ToString("C")</td>
            @*@{ decimal round1Subtotal = 0;
            }
            <td>@round1Subtotal</td>*@
        </tr>
        <tr>
            <td>2</td>
            <td>@Model.Round2Multiplier</td>
            <td>@Model.Round2Kept.Value.ToString("C")</td>
            <td>@Model.Round2Investment.Value.ToString("C")</td>
            <td>@Model.Round2Returned.Value.ToString("C")</td>
            @*@{ decimal round2Subtotal = (decimal)Model.Round2Kept + (decimal)Model.Round2Returned; }
            <td>@round2Subtotal</td>*@
        </tr>
        <tr>
            <td>3</td>
            <td>@Model.Round3Multiplier</td>
            <td>@Model.Round3Kept.Value.ToString("C")</td>
            <td>@Model.Round3Investment.Value.ToString("C")</td>
            <td>@Model.Round3Returned.Value.ToString("C")</td>
            @*@{ decimal round3Subtotal = (decimal)Model.Round3Kept + (decimal)Model.Round3Returned; }
            <td>@round3Subtotal</td>*@
        </tr>
        <tr>
            <td>4</td>
            <td>@Model.Round4Multiplier</td>
            <td>@Model.Round4Kept.Value.ToString("C")</td>
            <td>@Model.Round4Investment.Value.ToString("C")</td>
            <td>@Model.Round4Returned.Value.ToString("C")</td>

            @*@{ decimal round4Subtotal = (decimal)Model.Round4Kept + (decimal)Model.Round4Returned;}
            <td>@round4Subtotal</td>*@
        </tr>
        <tr>
            <th colspan="2">SUBTOTALS</th>
            @{ string totalKept = ((Model.Round2Kept ?? 0) + (Model.Round3Kept ?? 0) + (Model.Round4Kept ?? 0)).ToString("C"); }
            <td>@totalKept</td>
            @{ string totalInvested =  ((Model.Round2Investment ?? 0) + (Model.Round3Investment ?? 0) + (Model.Round4Investment ?? 0)).ToString("C"); }
            <td>@totalInvested</td>
            @{ string totalReturned = ((Model.Round2Returned ?? 0) + (Model.Round3Returned ?? 0) + (Model.Round4Returned ?? 0)).ToString("C"); }
            <td>@totalReturned</td>

        </tr>
        <tr>
            <th colspan="4">
                <div style="float: right;">
                    TOTAL
                </div>
            </th>
            @{
                decimal total = (((Model.Round2Kept ?? 0) + (Model.Round3Kept ?? 0) + (Model.Round4Kept ?? 0)) +
                                ((Model.Round2Returned ?? 0) + (Model.Round3Returned ?? 0) + (Model.Round4Returned ?? 0)));
                string gameTotal = total.ToString("C");
            }
            <td>

                @gameTotal
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <p class="text-center">
                    <a href="https://business.uoregon.edu" class="btn btn-default btn-success"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a>
                </p>
            </td>
        </tr>
    </table>
                        }